attrs==22.1.0
bmtk==1.0.6
cached-property==1.5.2
certifi==2021.5.30
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
Deprecated==1.2.13
h5py==3.1.0
imageio==2.15.0
importlib-metadata==4.8.3
jsonschema==3.2.0
kiwisolver==1.3.1
matplotlib==3.3.4
mpmath==1.2.1
networkx==2.5.1
numpy==1.19.5
pandas==1.1.5
Pillow==8.4.0
psutil==5.9.2
pygenn @ /v1_model/pygenn-4.7.1-cp36-cp36m-linux_x86_64.whl
pyparsing==3.0.9
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2022.4
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.4
six==1.16.0
sympy==1.9
tifffile==2020.9.3
torch==1.10.2
typing_extensions==4.1.1
wrapt==1.14.1
zipp==3.6.0
